{% load static %}
<link rel="stylesheet" href="{% static 'index/css/nicepage.css' %}" media="screen">
<link rel="stylesheet" href="{% static 'index/css/Principal.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'index/js/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'index/js/nicepage.js' %}" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="theme-color" content="#95ccc3">
    <meta property="og:title" content="Principal">
  </head>
  <body class="u-body u-xl-mode" data-lang="es">
    <section class="skrollable skrollable-between u-align-center u-clearfix u-image u-shading u-section-1" src="" id="carousel_e7d3">
      <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-image u-image-1" src="{% static 'index/css/imgPrincipal/iconup.png' %}" alt=""><p class="u-large-text u-text u-text-variant u-text-3">MvPharmacy</p></img>
        <h1 class="u-text u-text-1">Salud y Bienestar<br>
        </h1>
        <p class="u-large-text u-text u-text-variant u-text-2">Al alcance de todos</p>
        <div class="u-clearfix u-layout-custom-sm u-layout-custom-xs u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-right u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-valign-top u-container-layout-1">
                  <a href="{% url 'Login' %}" class="u-active-white u-border-2 u-border-active-white u-border-hover-white u-border-palette-2-base u-btn u-button-style u-hover-white u-palette-2-base u-btn-1">Inicia Sesión</a>
                </div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-valign-top u-container-layout-2">
                  <a href="{% url 'Registro' %}" class="u-active-white u-border-2 u-border-active-white u-border-hover-white u-border-palette-2-base u-btn u-button-style u-hover-white u-none u-text-active-black u-text-body-alt-color u-text-hover-black u-btn-2">Registrarse</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="u-text u-text-3"><a href="" class="u-border-white  u-btn u-button-link u-button-style">Cumplimos</a></p><span class="u-file-icon u-icon u-text-white u-icon-1" data-href="#carousel_89c5"><img src="{% static 'index/css/imgPrincipal/downarrow.png' %}" alt=""></span>
      </div>
    </section>
    <section class="u-clearfix u-white u-section-2" id="carousel_89c5">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-size-30 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-60 u-layout-cell-1">
                    <div class="u-container-layout u-container-layout-1">
                      <h2 class="u-text u-text-1">Misión</h2>
                      <p class="u-text u-text-2">Contribuir al crecimiento del sector farmacéutico por medio de la implementación de nuevas tecnologías, facilitando procesos y almacenando de forma confiable información relacionada con el negocio, proveedores y productos, apoyando en crecimiento de esta empresa y con ello abriendo puertas a nuevas posibilidades de expansión y generando nuevas áreas de trabajo. 
                      <h2 class="u-text u-text-1">Visión</h2>
                      <p class="u-text u-text-2">Competir con empresas ya posicionadas en el sector farmacéutico con el enfoque en ventas de productos y atención al cliente, además, expandir la empresa al campo de ventas en línea en 2 años, posicionando la marca y generando más utilidad que la actual. </p><span class="u-file-icon u-icon u-icon-1" data-href="Principal.html#carousel_e7d3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750"></span> 
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-30 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-size-30">
                    <div class="u-layout-row">
                      <div class="u-align-center u-container-style u-image u-layout-cell u-size-30 u-image-1" src="">
                        <div class="u-container-layout u-valign-middle u-container-layout-2"></div>
                      </div>
                      <div class="u-align-center u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-2" src="">
                        <div class="u-container-layout u-valign-middle u-container-layout-3"></div>
                      </div>
                    </div>
                  </div>
                  <div class="u-size-30">
                    <div class="u-layout-row">
                      <div class="u-align-center u-container-style u-image u-layout-cell u-size-30 u-image-3" src="">
                        <div class="u-container-layout u-valign-middle u-container-layout-4"></div>
                      </div>
                      <div class="u-align-center u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-4" src="">
                        <div class="u-container-layout u-valign-middle u-container-layout-5"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-44c2"><div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text u-text-2">Contáctanos</p>
      <a href="#" class="rrss-link"><img src="{% static 'index/css/imgPrincipal/facebook-icon.png' %}"></a>
      <a href="#" class="rrss-link"><img src="{% static 'index/css/imgPrincipal/instagram-icon.png' %}"></a>
      <a href="#" class="rrss-link"><img src="{% static 'index/css/imgPrincipal/twitter-icon.png' %}"></a>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    </footer>
  </body>
</html>

      {% if messages %}
        {% for message in messages %}
        
          {% if message.tags == 'info' %}
            <script>
              M.toast({
                html: '{{message}}',
                classes: 'blue rounded',
                displayLenght: 3000,      
              });
            </script>
          {% endif %}

          {% if message.tags == 'warning' %}
            <script>
              M.toast({
                html: '{{message}}',
                classes: 'orange rounded',
                displayLenght: 3000,      
              });
            </script>
          {% endif %}

          {% if message.tags == 'error' %}
            <script>
              M.toast({
                html: '{{message}}',
                classes: 'red rounded',
                displayLenght: 3000,      
              });
            </script>
          {% endif %}

          {% if message.tags == 'success' %}
            <script>
              M.toast({
                html: '{{message}}',
                classes: 'green rounded',
                displayLenght: 3000 ,      
              });
            </script>
          {% endif %}

        {% endfor %}
      {% endif %}

{% block content %}
{% endblock %}
